.amountInput {
  color: red;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  max-width: 800px;
  
  padding: 20px;
  background-color: goldenrod;
  justify-content: center;
}

