.amountInput {
  color: red;
}

.textInput {
  color: black;
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.containerInput {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: goldenrod;
  justify-content: center;
}
